
{{>header}}
<body>
    <div class="main-comntent">
        <p>This site was created using data from mapbox.com and weatherstack.com.</p>
        <img class="portrait" src="/img/voiceonly.jpg">
        <p>{{name}}</p>
    </div>
</body>
{{>footer}}