
{{>header}}
<body>
    <div class= "main-content">
        <p>Some text by: {{name}}</p>
        <form action="">
            <input type="text" placeholder="Location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
</body>
{{>footer}}